{#
/*
* BehaveX - BDD testing library based on Behave
*/#}


{%- set menu = 'tags' -%}
{%- extends "base.jinja2" -%}
{%- block title-%} Tags{%- endblock -%}
{%- block body -%}
<div id="table_div">
    <table class="table table-bordered behavex_letter" id="tableSteps">
        <thead>
            <tr class="table-header">
                <th>Tag<span class="glyphicon glyphicon-sort btn-xs pull-right"></span></th>

            </tr>
        </thead>
        <tbody>
        <!-- iteritems has been changed to items -->
        {%- for tag, value in tags_values.items()|sort(attribute='0') -%}
            {%- set title_tag = tags_values|length ~ ' scenario' if
            tags_values|length == 1 else tags_values|length ~ ' scenarios' -%}
            <tr class="behavex_letter feature-scenario tr-progress table_row_{{ value[1] }}">
            {%  set letter = 'red' if value[1] == 'failed'else 'green'
                if value[1] == 'passed' else 'grey'%}
                <td class="{{ letter }}-behavex" title="{{ title_tag }}">
                    <span class="glyphicon glyphicon-menu-right span-behavex pull-left" data-view id="{{ tag }}"
                      title="{{ ('commons.expand'|get_text).format('scenarios') }}"></span>
                    {# <b>&nbsp;{{ tag.ljust(100 - (tag|count), ' ').replace(' ', '&nbsp;') }}</b> #}
                    <b><a href='{{ '../report.html'}}#tag={{tag }}'
                          class="table_row_{{ value[1] }}">
                        &nbsp;{{tag}}</b></a>
                    <div class="progress pull-right progress-expand" >
                        {{ value[0]|create_progress_tags }}
                    </div>
                <br>
                <ul class="list-unstyled table_row_{{ value[1] }} ul_border_bottom" id="ul-{{tag}}" >
                    {%- for scenario, status, row , id_hash, id_feature in value[0] -%}
                        <li class=" table_row_{{ status }} li_border_bottom" >
                            <a href="{{ '../report.html' }}#scenario={{
                                    '{}-{}'.format(id_feature,id_hash) }}" >
                                {{ scenario }}
                            </a>
                        </li>
                    {%- endfor -%}
                </ul>
                </td>
            </tr>
        {%- endfor-%}
        </tbody>
    </table>
</div>
{%- endblock -%}

{%- block javascript -%}
	{{ super() }}

	$('[data-view]').click(function($this){
		span = $(this);
		if (span.hasClass('glyphicon-menu-right')) {
			span.removeClass('glyphicon-menu-right');
			span.addClass('glyphicon-menu-down');
			span.attr('title', '{{ ('commons.collapse'|get_text).format
			('scenarios') }}');
		} else {
			span.removeClass('glyphicon-menu-down');
			span.addClass('glyphicon-menu-right');
			span.attr('title', '{{ ('commons.expand'|get_text).format
			('scenarios') }}');
		}
		$('#ul-' + span.attr('id')).toggle();

	});
    $("#tableSteps").tablesorter($("#tableSteps").tablesorter({headers: {2:{sorter:false}, 1:{sorter:false}}}));

{%- endblock -%}
